<!DOCTYPE html>
<html lang="en">
{{> head title="折扣卡片" }}
<body>
  <a class="card event_statistics_waplist" href="" statrk="view-dealid-deal--">
    <div class="l">
        <div class="pic">
          <img src="https://imgcache.dealmoon.com/thumbimg.dealmoon.com/dealmoon/a47/d84/a46/ab74f507fd04388ea3cb1c4.png_200_200_2_1db9.png" alt="">
        </div>
        <label class="tag-ding">置顶</label>
    </div>
    <h3 class="title">重磅！海淘专区上线啦，劲爆福利疯狂再续！</h3>
    <h4 class="hot">
      <span class="sale">$20</span>
      <span class="origin">$99</span>
    </h4>
    <div class="interact">
      <label class="fav">
        <em class="dm-icon dm-icon-shoucang1"></em><span class="j-fav-count">999+</span>
      </label>
      <label class="comment">
        <em class="dm-icon dm-icon-pinglun"></em><span class="j-comment-count">298</span>
      </label>
      <label class="store">Dealmoon.com</label>
    </div>
    <label class="tag tag-exclusive">独家</label>
  </a>
</body>
</html>