<!DOCTYPE html>
<html lang="en">
{{> head title="css grid example" }}
<body>
  <h3>3行3列</h3>
  <div class="grid">
    <div class="a">a</div>
    <div class="b">b</div>
    <div class="c">cccc</div>
    <div class="d">d</div>
    <div class="e">e</div>
    <div class="f">f</div>
    <div class="g">g</div>
    <div class="h">h</div>
    <div class="i">i</div>
  </div>
  
  <h3>跨行/列</h3>
  <div class="grid2">
    <div class="a">a</div>
    <div class="b">b</div>
    <div class="c">c</div>
  </div>

  <h3>对齐方式</h3>
  <div class="grid3">
    <div class="a">a</div>
    <div class="b">b</div>
    <div class="c">c</div>
    <div class="d">d</div>
  </div>

  <h3>单元自定义位置</h3>
  <div class="grid4">
    <div class="a">a</div>
    <div class="b">b</div>
  </div>

  <div class="center" style="display: none">
      <div class="cnt">cnt</div>
  </div>
</body>
</html>